body {
  font-family: Helvetica, sans-serif;
}

h1, h2 {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  width: 100%;
  text-align: center;
}

h2 {
  font-size: 18px;
}

p {
  padding: 10px;
  text-align: center;
}

.hidden {
  display: none;
}
